.leadership-scrollable-wrapper {
  height: 44em;
  margin-top: 2.618em;
  margin-bottom: 2rem;
  overflow: hidden;
}

.leadership-scrollable {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow: auto;
  padding-bottom: 2rem;

  /* supposed to hide the horizontal scroll bars */
  // overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

/* supposed hide the horizontal scroll bars */
.leadership-scrollable::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.leadership-card-image-wrapper {
  width: 100%;
  overflow: hidden;
}

.leadership-card-image {
  display: block;
  filter: saturate(0.6);
  padding: 0;
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: saturate(1);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}

.leadership-card {
  margin: 0 .5em;
  background: #fff;
  color: rgba(14,30,37,.8);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 19rem;
  z-index: 10;
}

// .leadership-card-text {
//   padding-bottom: 3rem;
// }

// .leadership-read-more {
//   position: absolute;
//   bottom: 5%;
//   left: 50%;
//   // margin-bottom: 0.75rem;
// }
