// .classroom {
//   background:
//     linear-gradient(
//       rgba(0, 0, 0, 0.6),
//       rgba(0, 0, 0, 0.6)
//     ),
//     url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: 10px 0 0 10px;
//   position: relative;

//   &:hover {
//     background:
//       linear-gradient(
//         rgba(0, 0, 0, 0.45),
//         rgba(0, 0, 0, 0.45)
//       ),
//       url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     margin: 10px 0 0 10px;
//     position: relative;
//   }
// }

// .professional-learning {
//   background:
//     linear-gradient(
//       rgba(0, 0, 0, 0.6),
//       rgba(0, 0, 0, 0.6)
//     ),
//     url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: 10px 0 0 10px;
//   position: relative;

//   &:hover {
//     background:
//       linear-gradient(
//         rgba(0, 0, 0, 0.45),
//         rgba(0, 0, 0, 0.45)
//       ),
//       url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     margin: 10px 0 0 10px;
//     position: relative;
//   }
// }

// .district-planning {
//   background:
//     linear-gradient(
//       rgba(0, 0, 0, 0.6),
//       rgba(0, 0, 0, 0.6)
//     ),
//     url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: 10px 0 0 10px;
//   position: relative;

//   &:hover {
//     background:
//       linear-gradient(
//         rgba(0, 0, 0, 0.45),
//         rgba(0, 0, 0, 0.45)
//       ),
//       url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     margin: 10px 0 0 10px;
//     position: relative;
//   }
// }

// .citizen-science {
//   background:
//     linear-gradient(
//       rgba(0, 0, 0, 0.6),
//       rgba(0, 0, 0, 0.6)
//     ),
//     url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin: 10px 0 0 10px;
//   position: relative;

//   &:hover {
//     background:
//       linear-gradient(
//         rgba(0, 0, 0, 0.45),
//         rgba(0, 0, 0, 0.45)
//       ),
//       url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     margin: 10px 0 0 10px;
//     position: relative;
//   }
// }

// .mid h4 {
//   color: white;
//   text-transform: uppercase;
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   text-align: center;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   padding: .5rem;
// }

// .aspect-ratio-box::before {
//   content: "";
//   width: 1px;
//   margin-left: -1px;
//   float: left;
//   height: 0;
//   padding-top: 591.44px / 1127.34px * 100%;
// }
// .aspect-ratio-box::after { /* to clear float */
//   content: "";
//   display: table;
//   clear: both;
// }

// .box {
//   border-radius: 6px;
//   box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
//   color: #4c4c4c;
//   display: block;
//   padding: 1.25rem;
// }

.rd-feed-item {
  position: relative;
  margin: 2rem 0;
  transition: all 0.3s ease-in-out;

  // &:hover {
  //   transform: scale(1.02);
  //   transition: all 0.3s ease-in-out;
  // }
}

.rd-button-wrapper {
  position: absolute;
  bottom: 5%;
  width: 90%;
}

// .pill {
//   border-radius: 50%;
//   margin-right: .5rem; 
// }

.rd-read-more {
  float: right;
}

.rd-image-wrapper {
  height: 250px;
  overflow: hidden;
}

.rd-image {
  display: block;
  margin: auto 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%; 
}

.rd-pill {
  margin-right: .5rem;
  font-weight: 400;
  
  &:hover {
    cursor: default;
  }
}

// .read-more:hover {
//    background-color: gray; 
// }

// .feed-item-container {
// }
