@import '../../global-scss/utilities/variables.scss';

.what-we-do-image-wrapper {
  padding: 0 !important;
}

.what-we-do-image {
  @media only screen and (max-width: 768px) {
    background-size: auto 400px;
    height: 400px;
  }
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100%;
}

.ld-image {
  background-image: url(./../../images/hero-banners/support_our_mission.jpg);
}

.tpl-image {
  background-image: url(./../../images/hero-banners/we_provide_professional.jpg);
}

.imd-image {
  background-image: url(./../../images/hero-banners/we_develop_science.jpg);
}

.research-image {
  background-image: url(../../images/hero-banners/we_spearhead_leadership.jpg);
}

.what-we-do-text-section {
  padding: 1.5rem;
}

.colored {
  background-color: $primary;
  > h3 {
    color: white !important;
  }
  > p {
    color: white !important;
  }
}

.bscs-transforming-science-education-model-wrapper {
  width: 100%;
  > img {
    width: 100%;
  }
}