.markdown-div {
  p {
    margin: 12px 0;
  }

  h1 {
    font-size: 2rem;
  }


  img {
    border-radius: 5px;
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}

.erc-jumbotron-title {
  @media only screen and (max-width: 768px) {
    background: white;
    // margin-top: 2rem;
  }
  &.classroom-instruction {
    // background: rgb(94,60,124);
    // background: linear-gradient(180deg, rgba(94,60,124,0.9) 11%, rgba(41,52,118,1) 74%);
    background: rgb(41,52,118);
    background: linear-gradient(180deg, rgba(41,52,118,1) 0%, rgba(94,60,124,1) 100%);
  }
  &.professional-learning {
    background: rgb(41,52,118);
    background: linear-gradient(180deg, rgba(41,52,118,1) 0%, rgba(249,131,85,1) 100%);
    // background: rgb(249,131,85);
    // background: linear-gradient(180deg, rgba(249,131,85,0.2) 0%, rgba(249,131,85,1) 100%);
  }
  &.district-planning {
    background: rgb(41,52,118);
    background: linear-gradient(180deg, rgba(41,52,118,1) 0%, rgba(174,37,38,1) 100%);
  }
  &.citizen-science {
    background: rgb(41,52,118);
    background: linear-gradient(180deg, rgba(41,52,118,1) 0%, rgba(17,151,98,1) 100%);
  }
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.erc-jumbotron-image {
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 20rem;
 min-height: 200px;
 overflow: hidden;
}

.erc-image {
  border-radius: 4px;
  margin-top: 15px;
}
