.markdown-div {
  p {
    margin: 12px 0;
  }

  h1 {
    font-size: 2rem;
  }


  img {
    border-radius: 5px;
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}

.jumbotron-title {
  background: rgb(48,135,180);
  background: linear-gradient(180deg, rgba(48,135,180,1) 0%, rgba(41,52,118,0.8) 35%, rgba(94,60,124,1) 100%);
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron-image {
 background-position: center;
 background-repeat: no-repeat;
 height: 20rem;
 min-height: 200px;
 overflow: hidden;
}

.image {
  border-radius: 4px;
  margin-top: 15px;
}