.accordion-card {
  padding: 0 !important;
}

.accordion-button {
  background-color: rgba(0, 0, 0, .03);
  font-size: 2.4rem;
  margin: 0;
  padding: .75rem 1.5rem;
  text-align: left;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, .03);
    text-decoration: none;
  }

  &:focus {
    background-color: rgba(0, 0, 0, .03);
    text-decoration: none;
  }
}

.accordionCollapse {
  display: block !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 600ms ease-in-out;

  &.show {
    max-height: 2000px;
    transition: max-height 600ms ease-in-out;
  }
}

.counterclockwise-180 {
  transform: rotate(-180deg);
  transition: all .3s ease-in-out;
}

.clockwise-to-zero {
  // transform: rotate(0deg);
  transition: all .3s ease-in-out;
}
