@import '../../global-scss/utilities/variables.scss';

.classroom {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 0 10px;
  position: relative;

  &:hover {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 0 10px;
    position: relative;
  }
}

.professional-learning {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 0 10px;
  position: relative;

  &:hover {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 0 10px;
    position: relative;
  }
}

.district-planning {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 0 10px;
  position: relative;

  &:hover {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 0 10px;
    position: relative;
  }
}

.citizen-science {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 0 10px;
  position: relative;

  &:hover {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 0 10px;
    position: relative;
  }
}

.mid h4 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: .5rem;
}

.aspect-ratio-box::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 591.44px / 1127.34px * 100%;
}
.aspect-ratio-box::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.box {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4c4c4c;
  display: block;
  padding: 1.25rem;
}

.erc-card-col {
  margin-bottom: 1.5rem;
}

.erc-card {
  height: 100%;
  // position: relative;
  // padding-bottom: 10%;
}

.erc-card-img-wrapper {
  // height: 250px;
  // height: 40%;
  overflow: hidden;
  // position: relative;
  // object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.erc-card-img {
  // display: block;
  // margin: auto 0;
  min-width: 100%;
  height: auto;
  min-height: 100%; 
  // height: 100%;
  // width: auto;
}

.erc-excerpt {
  padding-bottom: 2rem !important;
  // margin-bottom: 1.5rem;
}

.erc-read-more {
  float: right;
  position: absolute;
  bottom: 2%;
  right: 10%;
}

.erc-gradient {
  background: rgba(255,255,255,1);
  background: linear-gradient(180deg, rgba(41,52,118,1) 0%, rgba(43,80,139,0.7749474789915967) 60%, rgba(48,135,180,1) 100%);
}

/* Ripple Out */
// @-webkit-keyframes hvr-ripple-out {
@-webkit-keyframes btn-outline-secondary {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes btn-outline-secondary {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

// .breadcrumb-item {
//   color: white;
//   &.active {
//     color: lightgray;
//   }
// }

// h1 {
//   color: white;
// }