@import '../components/utilities/bootstrap-overrides.scss';
@import '../components/utilities/utilities.scss';
@import '../components/utilities/font-awesome.scss';


.nav-link {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.bscsLogo {
  margin-top: 0;
}

.tagline-wrapper {
  margin-top: 2rem;
  margin-bottom: 0;
}

@include media-breakpoint-up(sm) {
  .tagline-wrapper {
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-up(md) {
  .tagline-wrapper {
    margin-bottom: 0;
  }

  // .navbarCollapse {
  //   margin-top: 2rem;
  // }
}

@include media-breakpoint-up(lg) {
  .navbarCollapse {
    margin-top: 2rem;
  }
}
