@import '../components/utilities/bootstrap-overrides.scss';
@import '../components/utilities/utilities.scss';
@import '../components/utilities/font-awesome.scss';


.heading2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@include media-breakpoint-up(md) {
  .heading2 {
    font-size: 1.9rem;
  }
}

@include media-breakpoint-up(lg) {
  .heading2 {
    font-size: 2.4rem;
  }
}
